@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

$dark:#000;
$primary:#FF7A00;
$primary-light:#FF9900;;
$secondary:#3586FF;
$secondary-light:#0065FC;

.open-sans-extrabold{
    font-family:"Open Sans", sans-serif;
    font-weight: 800;
}

.open-sans-light{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
}

.open-sans-black{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

//導覽列
.brand{
    font-size: 24px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(white, 0.3);
    backdrop-filter: blur(3px);
    z-index: 1000;

    .navbar-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .list-item {
        padding: 1rem;
        display: block;
        text-decoration: none;
        color: black ;
        &:hover, &.active { 
            color: orange;
        }
    }

}

.section{
padding-top: 60px;
padding-bottom: 60px;
background-color:#eee ;

}
//button
.btn-primary{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    width: 50%;
    background-image:linear-gradient(to bottom,$primary-light,$primary);
    color: white;
    transition: box-shadow 0.15s;
    &:hover, &.active { 
        background-image:linear-gradient(to bottom,
        $primary-light,$primary);
        box-shadow: $primary-light 5px 5px 15px;
        // background-image:linear-gradient(to bottom,
        // darken($primary-light,5%),
        // darken($primary,5%));
    }
}


//Utilities.scss
.dispaly-h1{
    font-size: 68px;
    line-height: 1.2;
}
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.z-index--1{
    z-index:-1;
}

.type-blink{
    width: 3px;
    height: 68px;
    background-image: linear-gradient(to bottom, #3586ff, rgba(0, 101, 252, 0.5));
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    animation: blink 1s infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
}